agents/gst-invoice-helper/gst-invoice-helper-workflow.json
{"updatedAt":"2026-04-12T13:10:25.426Z","createdAt":"2026-04-12T12:41:38.043Z","id":"7ycKjvWPgtc53i6S","name":"GST Invoice Helper","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gst-invoice","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Webhook","position":[256,304],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"7e16e61b-7d95-440e-ae29-37458b703df4"},{"parameters":{"promptType":"define","text":"=You are a GST invoice generator for Indian businesses.\nCustomer Name: {{ $json.body.customer }}\nItem: {{ $json.body.item }}\nAmount: {{ $json.body.amount }}\nGST Rate: {{ $json.body.gst_rate }}%\nGenerate a professional GST invoice in Hindi and English with GSTIN, HSN code, taxable amount, GST amount and total amount."},"id":"llm-chain-node","name":"Basic LLM Chain","position":[512,304],"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9},{"parameters":{"model":"llama3:latest","options":{}},"id":"ollama-node","name":"Ollama Chat Model","position":[512,480],"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"credentials":{"ollamaApi":{"id":"jvgfoVhsZFo5uCUa","name":"Ollama account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.text }}","options":{}},"id":"respond-webhook-node","name":"Respond to Webhook","position":[880,304],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"Basic LLM Chain":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"Ollama Chat Model":{"ai_languageModel":[[{"index":0,"node":"Basic LLM Chain","type":"ai_languageModel"}]]},"Webhook":{"main":[[{"index":0,"node":"Basic LLM Chain","type":"main"}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","activeVersionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2026-04-12T12:41:38.045Z","createdAt":"2026-04-12T12:41:38.045Z","role":"workflow:owner","workflowId":"7ycKjvWPgtc53i6S","projectId":"8vBiEu5NYjBOqcpK","project":{"updatedAt":"2026-01-14T10:26:40.989Z","createdAt":"2026-01-14T10:18:33.282Z","id":"8vBiEu5NYjBOqcpK","name":"Vivek Kumar Prajapati <vivekprajapati97985@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"92c378a3-ba0c-4824-b9c2-f2dcc9122ad5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-12T13:10:25.427Z","createdAt":"2026-04-12T13:10:25.427Z","versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","workflowId":"7ycKjvWPgtc53i6S","nodes":[{"parameters":{"httpMethod":"POST","path":"gst-invoice","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Webhook","position":[256,304],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"7e16e61b-7d95-440e-ae29-37458b703df4"},{"parameters":{"promptType":"define","text":"=You are a GST invoice generator for Indian businesses.\nCustomer Name: {{ $json.body.customer }}\nItem: {{ $json.body.item }}\nAmount: {{ $json.body.amount }}\nGST Rate: {{ $json.body.gst_rate }}%\nGenerate a professional GST invoice in Hindi and English with GSTIN, HSN code, taxable amount, GST amount and total amount."},"id":"llm-chain-node","name":"Basic LLM Chain","position":[512,304],"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9},{"parameters":{"model":"llama3:latest","options":{}},"id":"ollama-node","name":"Ollama Chat Model","position":[512,480],"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"credentials":{"ollamaApi":{"id":"jvgfoVhsZFo5uCUa","name":"Ollama account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.text }}","options":{}},"id":"respond-webhook-node","name":"Respond to Webhook","position":[880,304],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"Basic LLM Chain":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"Ollama Chat Model":{"ai_languageModel":[[{"index":0,"node":"Basic LLM Chain","type":"ai_languageModel"}]]},"Webhook":{"main":[[{"index":0,"node":"Basic LLM Chain","type":"main"}]]}},"authors":"Vivek Kumar Prajapati","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-12T13:10:25.452Z","id":49,"workflowId":"7ycKjvWPgtc53i6S","versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","event":"activated","userId":"92c378a3-ba0c-4824-b9c2-f2dcc9122ad5"},{"createdAt":"2026-04-12T13:10:25.474Z","id":51,"workflowId":"7ycKjvWPgtc53i6S","versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","event":"activated","userId":"92c378a3-ba0c-4824-b9c2-f2dcc9122ad5"},{"createdAt":"2026-04-12T13:10:25.445Z","id":48,"workflowId":"7ycKjvWPgtc53i6S","versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","event":"deactivated","userId":"92c378a3-ba0c-4824-b9c2-f2dcc9122ad5"},{"createdAt":"2026-04-12T13:10:25.470Z","id":50,"workflowId":"7ycKjvWPgtc53i6S","versionId":"f2ea2a2c-966b-4b8d-9c3b-55b405035bce","event":"deactivated","userId":"92c378a3-ba0c-4824-b9c2-f2dcc9122ad5"}]}}